*.a
*.sw*

.vscode
moc_*
*.moc
hardfork.hpp

lcov

libraries/wallet/Doxyfile
libraries/wallet/doxygen

programs/cli_wallet/cli_wallet
programs/gamebankd/gamebankd
programs/gamebankd/test
programs/util/get_dev_key

doxygen

build

wallet.json
witness_node_data_dir

*.wallet

*.pyc
*.pyo
*.egg-info/
