*.a
*.sw*

.vscode
moc_*
*.moc
hardfork.hpp

lcov

programs/cli_wallet/cli_wallet
programs/gamebankd/gamebankd
programs/gamebankd/test
programs/util/get_dev_key


build

wallet.json
witness_node_data_dir

*.wallet

*.pyc
*.pyo
*.egg-info/
